<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns='http://www.springframework.org/schema/beans'
       xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:ignoreResourceNotFound="true"
          p:nullValue="{null}">
        <property name="locations">
            <list>
                <value>classpath:fraud.properties</value>
            </list>
        </property>
    </bean>

    <bean id="configuration" class="common.utils.support.Configuration">
        <constructor-arg>
            <map>
                <entry key="#{T(common.web.JSONValidationProvider$Configs).IsObjectValidationEnabled}"
                       value="false"/>
            </map>
        </constructor-arg>
    </bean>

    <import resource="classpath:spring/impl-spring-context.xml"/>
    <import resource="classpath:spring/log-spring-context.xml"/>
    <import resource="classpath:spring/dao-spring-test-context.xml"/>
    <import resource="classpath:spring/drools-spring-test-context.xml"/>

</beans>